.header{
    width: 100%;
    background-color: #eaeaea;
    height: 60px;
    border-bottom: 2px solid #c5c5c5;

    h1{
        padding-left: 20px;
        line-height: 60px;
        font-family: arial;
        font-size: 20px;
    }
}

